SECRET_KEY=your-secret-key
DEBUG=False

# Host & Origin Settings for Production (PythonAnywhere & Vercel)
ALLOWED_HOSTS=MrJawadAhmed.pythonanywhere.com,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://univeristy-time-table-generator.vercel.app,http://localhost:5173
CSRF_TRUSTED_ORIGINS=https://univeristy-time-table-generator.vercel.app,http://localhost:5173
